PRIVATE_KEY=""
API_URL=""
TRAITS_ADDRESS=""
HABITAT_ADDRESS=""
CHEDDAR_ADDRESS=""
CNMGAME_ADDRESS=""
CNM_ADDRESS=""
CNM_CHEDDAR_ADDRESS=""
HOUSEGAME_ADDRESS=""
HOUSE_ADDRESS=""
HOUSE_TRAITS_ADDRESS=""
RANDOM_ADDRESS=""